<html >
<head>
  <title>Add a veteran</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <script src="/vendor/jquery-2.1.3.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src= "/vendor/angular/angular.min.js"></script>
  
<script type="text/javascript">
$(document).ready(function(){
	
  
	//Callback handler for form submit event
	$("#formUploadVet").submit(function(e)
	{
	 
	    var formObj = $(this);
	    var formURL = formObj.attr("action");
	    var formData = new FormData(this);
	    $.ajax({
	        url: formURL,
	    type: 'POST',
	        data:  formData,
	    mimeType:"multipart/form-data",
	    contentType: false,
	        cache: false,
	        processData:false,
	    success: function(data)
	    {
	 		alert(data);
	    },
	     error: function(jqXHR, textStatus, errorThrown) 
	     {
	     }          
	    });
	    e.preventDefault(); //Prevent Default action. 
	  //  e.unbind();
	}); 

});
</script>
</head>
<body>
<% include header.html %>

<div ng-app="addVet" ng-controller="addVetController" ng-init="initForm()">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Manage Veterans</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#" ng-click="showPage('addVet')"  ng-model='rankPageLink'>Add a Veteran</a></li>
        <li><a href="#" ng-click="showPage('uploadVet')">Upload veteran File</a></li>
        <li><a href="#" ng-click="showPage('searchVet')">Search Veteran</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container" ng-show="(page=='addVet')">
	<div class="jumbotron">
		<form name="form"  class="form css-form" id="formAddVet">
			<div class="panel panel-primary">
			<div class="panel-heading">IDs:</div>
			<div class="panel-body"	>
			<div class="row">
				<div class="col-md-6">
					<label for="add_vet_sNum">Service Num:</label>
					<input type="number" id="add_vet_sNum" class="form-control" type="text" ng-model="add.sNum" name="sNum"/>
										<span style="color:red" ng-show="false && form.$submitted ||(form.sNum.$dirty && (form.sNum.$invalid || form.sNum.$error.required))">Please enter Membership Number</span>
				</div>
				<div class="col-md-6">
					<label for="add_vet_mNum">Membership Num:</label>
					<input type="number"  id="add_vet_mNum" class="form-control" type="text" ng-model="add.mNum" name="mNum"/>
					<span style="color:red" ng-show="false&&(form.mNum.$dirty && (form.mNum.$invalid || form.mNum.$error.required))">Please enter Membership Number</span>
				</div>
			</div></div></div>

			
			<div class="panel panel-info">
			<div class="panel-heading">Personal:</div>
			<div class="panel-body"	>
				<div class="col-md-3"><label for="add_vet_title">Title</label><select id="add_vet_title" class="form-control" type="text" ng-model="add.title">
				<option>Mr</option>
				<option>Mrs</option>
				<option>Miss</option>
				<option>Sr.</option>
				<option>Jr.</option>
				<option>Lt.</option>
				<option>Brg.</option>
				</select></div>
				<div class="col-md-3"><label for="add_vet_fName">First Name</label><input id="add_vet_fName" class="form-control" type="text" ng-model="add.fName"/></div>
				<div class="col-md-3"><label for="add_vet_lName">Last Name</label><input id="add_vet_lName" class="form-control" type="text" ng-model="add.lName"/></div>
				<div class="col-md-3"><label for="add_vet_gender">Gender</label><select name="gender" id="add_vet_Gender" class="form-control" type="text" ng-model="add.gender" >
				<option value="M">Male</option>
				<option value="F">Female</option>
				</select>
				<span style="color:red" ng-show="false&&form.$submitted|| (form.gender.$invalid || form.gender.$error.required)">Please Choose a Gender</span>
				</div>
				<div class="col-md-3"><label for="add_vet_dobr">Date of Birth:</label><input id="add_vet_dobr" class="form-control" type="text" ng-model="add.dobr"/></div>
				<div class="col-md-3"><label for="add_vet_dodc">Date of Decease:</label><input id="add_vet_dode" class="form-control" type="text" ng-model="add.dode"/></div>
			</div>
			</div>					
			
			<div class="panel panel-info">
			<div class="panel-heading">Personal:</div>
			<div class="panel-body"	>
			<div class="row">				
			
				<div class="col-md-4"><label for="add_vet_addr1">Address1:</label><input id="add_vet_addr1" class="form-control" type="text" ng-model="add.addr1"/></div>
				<div class="col-md-4"><label for="add_vet_addr2">Address2:</label><input id="add_vet_addr2" class="form-control" type="text" ng-model="add.addr2"/></div>
				<div class="col-md-4"><label for="add_vet_addr3">Address3:</label><input id="add_vet_addr3" class="form-control" type="text" ng-model="add.addr3"/></div>				
                <div class="col-md-4"><label for="add_vet_city">city:</label><input id="add_vet_city" class="form-control" type="text" ng-model="add.city"/></div>				
                <div class="col-md-4"><label for="add_vet_state">State:</label><input id="add_vet_state" class="form-control" type="text" ng-model="add.state"/></div>				
			</div></div></div>
			
		
			
			<div class="panel panel-info">
			<div class="panel-heading">Service:</div>
			<div class="panel-body"	>
			<div class="row">				
				<div class="col-md-3"><label for="add_vet_rankCode">Rank:</label><select id="add_vet_rankCode" class="form-control" type="text" ng-model="add.rankCode">
				</select></div>
				<div class="col-md-3"><label for="add_vet_tradeCd">Trade/Branch:</label><input id="add_vet_tradeCd" class="form-control" type="text" ng-model="add.tradeCd"/></div>											
				<div class="col-md-3"><label for="add_vet_dojn">Date of Joining:</label><input id="add_vet_dojn" class="form-control" type="text" ng-model="add.dojn"/></div>				
				<div class="col-md-3"><label for="add_vet_dods">Date of Discharge:</label><input id="add_vet_dods" class="form-control" type="text" ng-model="add.dods"/></div>				
			</div>
			<div class="row"><br>				</div>
                <div class="row">				
                    <div class="col-md-4"> <button id="add_btn_decor" class="form-control btn btn-info" data-target="#vetDecorModal" data-toggle="modal"> Decorations </button></div>
					<div class="col-md-4"><button id="add_btn_phone" class="form-control btn btn-info" data-target="#vetPhoneModal" data-toggle="modal">Phones </button></div>					
                </div></div>
			<div class="row">
				<div class="col-md-4"><button  class="btn btn-info" ng-click='addVeteran()'> Add </button></div>
			</div>
		</form>
	</div>
</div>

<div class="container" ng-show="(page=='uploadVet')">
	<div class="jumbotron">
		<section>
			<div id ='frmUploadVet'>
				<form id ='formUploadVet'  
				action='/api/upload'  
				enctype='multipart/form-data'  
				accept="csv"   
				method="post"> 
					<label>Filename</label>
					<input name='x' type="file" id='txtFileUpload' />
					<input type="submit" id='txtFileUpload' value='Upload' />
				</form>
			</div>
		</section>
	</div>
</div>

<div class="container" ng-show="(page=='searchVet')">
	<div class="jumbotron">
		<section>
			<div id ='divSearchVet'>
				<form id ='formSearchVet'  
				action='/api/getVet'  				
				method="post"> 
				<div class="panel panel-primary">
                 <div class="panel-heading">Criteria</div>
			     <div class="panel-body">
			     <div class="row">
				<div class="col-md-6">
					<label for="srch_vet_sNum">Service Num:</label>
					<input type="number" id="add_vet_sNum" class="form-control" type="text" ng-model="srch.sNum" name="srch.sNum"/>									
				</div>
				<div class="col-md-6">
					<label for="srch_vet_mNum">Membership Num:</label>
					<input type="number"  id="add_vet_mNum" class="form-control" type="text" ng-model="srch.mNum" name="srch.mNum"/>					
				</div>
			</div></div></div>
				
				</form>
			</div>
		</section>
	</div>
</div>

   <!-- Modal starts -->
<div class="modal fade" id="vetDecorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="vetDecorModal">New message</h4>
            </div>
          <div class="modal-body">
            <form>
                <div class="row">
                <div class="col-md-3">
                <button class="btn btn-primary form-control" ng-click="addDecorModal()"> Add</button>
                </div></div>
              <table >
                  <tbody>
                <tr ng-repeat="row in decorArr">
                    <td ><select ng-model="row.decorCode" ng-options="item.code as item.descr for item in lookupRefObj['decor']"></select></td>
                  </tr>
                </tbody>
                </table>      
              
              
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>     
        
<!-- Phone Modal starts -->
<div class="modal fade" id="vetPhoneModal" tabindex="-1" role="dialog" aria-labelledby="vetPhoneModalLabel">
    <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               
            </div>
          <div class="modal-body">
            <form>
                <div class="row">
                <div class="col-md-3">
                <button class="btn btn-primary form-control" ng-click="addPhoneModal()"> Add</button>
                </div></div>
              <table>
                  <tbody>
                <tr ng-repeat="row in phoneArr">
                    <td ><label for="vet_phone_type">Phone Type:</label>
					<select id="vet_phone_type" ng-model="row.phoneType" ng-options="item.code as item.descr for item in lookupRefObj['phone']"></select></td>
					<td><label for="vet_phone_num">Phone Number:</label>
					<input type="text" id="vet_phone_num" ng-model='row.phoneNum' placeholder='Phone number'/> </td>
                </tr>
                </tbody>
              </table>      
              
              
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>            
          </div>
        </div>
      </div>
    </div>    
	
 <script src="/scripts/addVet_ng.js"></script>
 </div>
 
</body>

</html>
    