<div class="navbar navbar-default">
<div class="container-fluid">
	<div class="navbar-header">
	<h1 class="navbar-brand">AFPMS</h1>
	</div>
	<ul class="nav navbar-nav"> 
		<li class="active"><a href="/searchVet" class="text-info btn-default">Search Veteran</a></li>
		<li class="active"><a href="/addVet" class="text-info btn-default">Add Veteran</a></li>
		<li class="active"><a href="/setupRef" class="text-info btn-default">Setup Reference tables</a></li>
		<li class="active"><a href="/circular" class="text-info btn-default">Circular</a></li>
	</ul>	
	</div>
</div>
